<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Asos</title>
  <link rel="stylesheet" type="text/css" href="products.scss">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <div class="header-left">
        <!-- choose logo -->
        <img class="logo" src="">
      </div>
      <div class="header-right">
        <div class="login" id="login-show">ログイン</div>
      </div>
    </div>
  </header>
  <div class="signup-modal-wrapper" id="signup-modal">
    <div class="modal">
      <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="signup-form">
        <h2>Emailで新規登録</h2>
        <form action="#">
          <input class="form-control" type="text" placeholder="メールアドレス">
          <input class="form-control" type="password" placeholder="パスワード">
          <div id="submit-btn">新規登録</div>
        </form>
      </div>
    </div>
  </div>
  <div class="login-modal-wrapper" id="login-modal">
    <div class="modal">
      <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="login-form">
        <h2>Emailログイン</h2>
        <form action="#">
          <input class="form-control" type="text" placeholder="メールアドレス">
          <input class="form-control" type="password" placeholder="パスワード">
          <div id="submit-btn">ログイン</div>
        </form>
      </div>
    </div>
  </div>
  <div class="top-wrapper">
    <div class="container">
      <h1>ENJOY TO SHOP.<br>ENJOY TO BE A GUEST.</h1>
      <p>asosはメンズ服専用のオンラインショッピングサイトです。<br>メンズに特化した品揃えをしております。是非ご覧になって見てください！</p>
      <div class="btn signup signup-show">新規登録はこちら</div>
      <p>or</p>
      <div class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</div>
      <div class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</div>
    </div>
  </div>
  <div class="lesson-wrapper">
    <div class="container">
      <div class="heading">
        <h2>Hover Samples</h2>
      </div>
      <div class="lessons">
        <!-- レッスン一覧部分のHTMLを貼り付けてください -->
        <!-- lesson-hoverクラスを追加してください -->
        <div class="lesson lesson-hover">
          <div class="lesson-icon">
            <img src="https://cdn.pixabay.com/photo/2016/01/08/16/53/flame-1128636__340.jpg">
            <p>Sample1</p>
          </div>
          <p class="text-contents">
          Message1</p>
        </div>
        <!-- lesson-hoverクラスを追加してください -->
        <div class="lesson lesson-hover">
          <div class="lesson-icon">
            <img src="https://cdn.pixabay.com/photo/2015/08/15/00/58/mountains-889131__340.jpg">
            <p>Sample2</p>
          </div>
          <p class="text-contents">
          Message2</p>
        </div>
        <!-- lesson-hoverクラスを追加してください -->
        <div class="lesson lesson-hover">
          <div class="lesson-icon">
            <img src="https://cdn.pixabay.com/photo/2015/03/18/10/07/new-zealand-679068__340.jpg">
            <p>Sample3</p>
          </div>
          <p class="text-contents">
          Message3</p>
        </div>
        <!-- lesson-hoverクラスを追加してください -->
        <div class="lesson lesson-hover">
          <div class="lesson-icon">
            <img src="https://cdn.pixabay.com/photo/2014/08/26/13/09/panorama-427929__340.jpg">
            <p>Sample4</p>
          </div>
          <p class="text-contents">
          Message4</p>
        </div>
      </div>
    </div>
  </div>
  <div class="faq-wrapper">
    <div class="container">
      <div class="heading">
        <h2>FAQ</h2>
      </div>
      <div class="faq">
        <ul id="faq-list">
          <li class="faq-list-item">
            <h3 class="question">Sample1？</h3>
            <span>+</span>
            <div class="answer">
              <p>Sample1,Sample1,Sample1,Sample1,Sample1,Sample1</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">Sample2？</h3>
            <span>+</span>
            <div class="answer">
              <p>Sample2,Sample2,Sample2,Sample2,Sample2,Sample2</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">Sample3？</h3>
            <span>+</span>
            <div class="answer">
              <p>Sample3,Sample3,Sample3,Sample3,Sample3,Sample3</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>さぁ、Asosでshoppingを始めてみませんか?</h2>
        <h3 id="tagline">Let's start to shop whatever you want!</h3>
      </div>
      <div class="btn message signup-show">さっそく買い物をする</div>
    </div>
  </div>
  <footer>
    <div class="container">
      <!-- choose logo -->
      <img src="">
      <p>Let's start to shop whatever you want.</p>
    </div>
  </footer>

   <script src="index.js"></script>
</body>
</html>
